.Div {
    display: block;

}

.Div2 {
    display: block;
}

.Icon {
    color: black;
    margin: 0 6.5px;
}

.Icon:hover {
    color: black;
}

.Icon2 {
    color: white;
    margin: 0 6.5px;
}

.Icon2:hover {
    color: white;
}

@media only screen and (max-width: 991.5px) {
    .Div {
        margin-top: 15px;
        margin: 0 auto;
        margin-bottom: 5px;
    }
}