/* .carousel-indicators button {
  width: 12px !important;
  height: 12px !important;
  border-radius: 50%;
} */
.carousel-control-prev {
  width: auto !important;
}
.carousel-control-next {
  width: auto !important;
}
